*.pyc
__pycache__/
BD_*.sql
*.log
.DS_Store
.env
venv/
.venv/
*.egg-info/
dist/
build/
*.db
media/
BD_TESIS_SJL_NETBEANS/
ngrok/
staticfiles/
cookies.txt
*.zip
SIGA-116/
SistemaReservasSalas/
SistemaReservasSimple/
